# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env
.env.*

# VS Code
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Sistema
.DS_Store
Thumbs.db
